<?xml version='1.0' encoding='utf-8'?>
<widget id="network.ecopix.connect.v3" version="3.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>EcoPix Connect</name>
    <description>WhatsApp Style Mesh App</description>
    <author email="support@ecopix.net">EcoPix Lab</author>

    <plugin name="cordova-plugin-bluetooth-le" spec="~6.0.0" />
    <plugin name="cordova-plugin-wifi-direct" spec="~1.0.0" />
    
    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.BLUETOOTH" />
        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.CAMERA" />
    </config-file>

    <content src="index.html" />
    <access origin="*" />
</widget>
